body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f8f9fa; 
  font-family: 'Lato', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
}